<h1>Edit Sponsored Post</h1>

<div class="row">
  <div class="col-md-8">
    <%= form_for [@sponsored_post.topic, @sponsored_post] do |p| %>
    <div class="form-group">
      <%= p.label :title %>
      <%= p.text_field :title, class: 'form-control', placeholder: "Enter post title" %>
    </div>
    <div class="form-group">
      <%= p.label :body %>
      <%= p.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter post body" %>
    </div>
    <div class="form-group">
        <%= p.number_field :price, placeholder: "Price" %>
      </div>
    <div class="form-group">
      <%= p.submit "Save", class: 'btn btn-success' %>
    </div>
    <% end %>
  </div>
</div>
